@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --color-background: #f7f3f3;
    --color-title: #131313;
    --color-text: #8a8888;
    --color-primary: #ede5de;
    --color-secondary: #a87048;
    --color-icons: #6b7280;
    --color-border: #e2e8f0;
  }

  /* Dark mode (optional) */
  .dark {
    --color-background: #fafafa;
    --color-title: #13100d;
    --color-text: #7d7d7d;
    --color-primary: #ede5de;
    --color-icons: #f8f9fa;
    --color-border: #4a5568;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
}